body {
  font-family: 'Inter';
  font-size: 18px;
  background-color: #0F172A;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

/* Header */
header {
  border-bottom: 2px solid;
}

nav {
  display: flex;
  height: 75px;
}

#logo {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
}

#logo img {
  height: 100%;
}

#menu {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 35px;
  width: 50%;
}

#menu ul {
  /* display: flex;
  flex-direction: column;
  text-decoration: none; */
  list-style: none;
}

ul li {
  padding-left: 20px;
}

#nav-button-container {
  display: flex;
}

/* Main */
main {
  padding-right: 10%;
  padding-left: 10%;
}

#content, #headquarter, #hubungi-kami {
  border-bottom: 2px solid;
  padding: 25px 75px;
}

#content {
  display: flex;
  flex-direction: column;
}

#slider-container {
  display: flex;
  justify-content: center;
  padding: 4px 0;
}

#slider {
  width: 60%;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: auto;
}

#content img {
  justify-self: center;
}

#container-hq {
  display: flex;
  justify-content: space-around;
}

.lokasi-hq {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lokasi-hq > img {
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
}

#container-hubungi-kami {
  display: flex;
}

#form-hubungi {
  width: 50%;
}

input:not([type="radio"]), textarea {
  width: 100%;
}

input, textarea, button{
  border-radius: 10px;
  padding: 10px;
}

#button-submit {
  display: flex;
  justify-content: center;
  width: 100%;
}

#button-submit button {
  width: 25%;
  cursor: pointer;
}

#hasil-input-form {
  width: 50%;
}

table td {
  padding-top: 7px;
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;
}


.navigation-button {
  text-align: center;
  position: relative;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active,
.dot:hover {
  background-color: #717171;